HELP.md
/proxy/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
/proxy/nbproject/private/
/proxy/nbbuild/
/proxy/dist/
/proxy/nbdist/
/proxy/.nb-gradle/
/proxybuild/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/proxy/.vscode/
